/* local overrides */

/* buystrip */
.buystrip-hero .trade-in .item-headline {
	max-width: 22em;
}

.buystrip-hero .trade-in .item-copy {
	max-width: 45em;
}

.buystrip-hero .grid {
	padding-left: 0;
	padding-right: 0;
}

/*Finish*/
.section-finish .content-iphone-14 {
	width: 368px;
}
@media only screen and (max-width: 1068px) {
	.section-finish .content-iphone-14 {
		width: 231px;
	}
	.section-finish .finish-material,
	.section-finish .techspecs-small-heading {
		width: 285px;
	}
}
@media only screen and (max-width: 734px) {
	.section-finish .content-iphone-14 {
		width: 264px;
	}
}

/* Footer */
#ac-globalfooter .ac-gf-sosumi {
	padding-top: 50px;
}

/* localized screen */

.section-size-and-weight .image-dimensions-iphone-14 {
	background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
	.section-size-and-weight .image-dimensions-iphone-14 {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-size-and-weight .image-dimensions-iphone-14 {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
	only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-size-and-weight .image-dimensions-iphone-14 {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-size-and-weight .image-dimensions-iphone-14 {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
	only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-size-and-weight .image-dimensions-iphone-14 {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14__gfrfqvtnk32i_small_2x.jpg);
	}
}

.section-size-and-weight .image-dimensions-iphone-14-plus {
	background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
	.section-size-and-weight .image-dimensions-iphone-14-plus {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-size-and-weight .image-dimensions-iphone-14-plus {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
	only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-size-and-weight .image-dimensions-iphone-14-plus {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_medium_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.section-size-and-weight .image-dimensions-iphone-14-plus {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
	only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.section-size-and-weight .image-dimensions-iphone-14-plus {
		background-image: url(/la/iphone-14/images/specs/dimensions_iphone14_plus__mimqy2ddyki2_small_2x.jpg);
	}
}

/* ICONS */
/* calendar */
.section-built-in-apps .techspecs-app-icon-calendar {
	background-image: url("/la/iphone-14/images/specs/icon_calendar__c7dkb1qb21g2_large.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
	.section-built-in-apps .techspecs-app-icon-calendar {
		background-image: url("/la/iphone-14/images/specs/icon_calendar__c7dkb1qb21g2_large_2x.png");
	}
}

/* translate-icon */
.section-built-in-apps .techspecs-app-icon-translate {
	background-image: url("/la/iphone-14/images/specs/icon_translate__clals4m3arrm_large.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
	.section-built-in-apps .techspecs-app-icon-translate {
		background-image: url("/la/iphone-14/images/specs/icon_translate__clals4m3arrm_large_2x.png");
	}
}

/* password-icon */
.section-built-in-apps .techspecs-app-icon-passwords {
	background-image: url("/la/iphone-14/images/specs/icon_passwords__ewlyqsym43ma_large.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
	.section-built-in-apps .techspecs-app-icon-passwords {
		background-image: url("/la/iphone-14/images/specs/icon_passwords__ewlyqsym43ma_large_2x.png");
	}
}
